<a href="https://colab.research.google.com/github/erbertalvesgomes/data_science/blob/main/DICTIONARIES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DICTIONARIES
# Dictionary values can be lists, so to access individual attributes:
#1 - Retrieve the list by looking up its key
#2 - Retrieve the list element by using its index
#3 - You can conduct membership tests on dictionary keys (True and False)

inventory_status =[['skis','in stock'],['snowboard','sold out'],
                   ['googles','sold out'],['boots','in stock']]

#print(inventory_status[3][0])
item_looking_for = 'googles'

for item in inventory_status:
  if item[0] == item_looking_for:
    print(item[1])

sold out

In [ ]:
inventory = {'skis':'in stock',
            'snowboard':'sold out',
             'goggles':'sold out',
             'boots':'in stock'}
inventory['goggles'] # To retrieve dictionary values, simply enter the associated key

'sold out'

In [ ]:
# Dictionary values can be lists, so to access individual attributes:
# 1 - Retrieve the list by looking up its key
# 2 - Retrieve the list element by using its index

item_details = {'skis':[250,10,'in stock'],
                'snowboard':[220,0,'sold out'],
                'goggles':[100,0,'sold out'],
                'boots':[80,7,'in stock']}

item_details['skis']

[250, 10, 'in stock']

In [ ]:
item_details['skis'][2]

'in stock'

In [ ]:
print('skis' in item_details)
print('bindings' in item_details)

True
False

In [ ]:
# NOTE THAT THE ITEMS THAT ARE BEING LOOPED OVER ARE THE DICTIONARY KEYS
for item in item_details:
  print(item, item_details[item])

# print(item_details[item]) - vai vir somente o valor
# print (item) - vai vir somente o valor
# print (item, item_details[item]) - vão vir chave e valor (resposta)

skis [250, 10, 'in stock']
snowboard [220, 0, 'sold out']
goggles [100, 0, 'sold out']
boots [80, 7, 'in stock']

In [ ]:
# MODIFIYING DICTIONARIES
# Referencing a new key and assigning it a value will add a new key-value pair
# while referencing and existing key will overwrite the existing pair.
item_details['bindings'] = [149,4,'in stock']

In [ ]:
item_details

{'skis': [250, 10, 'in stock'],
 'snowboard': [220, 0, 'sold out'],
 'goggles': [100, 0, 'sold out'],
 'boots': [80, 7, 'in stock'],
 'bindings': [149, 4, 'in stock']}

In [ ]:
item_details['bindings'] = [140,0,'sold out']
item_details
del item_details['bindings']
item_details

{'skis': [250, 10, 'in stock'],
 'snowboard': [220, 0, 'sold out'],
 'goggles': [100, 0, 'sold out'],
 'boots': [80, 7, 'in stock']}

In [ ]:
item_details['bindings'] = [140,0,'sold out']
item_details

{'skis': [250, 10, 'in stock'],
 'snowboard': [220, 0, 'sold out'],
 'goggles': [100, 0, 'sold out'],
 'boots': [80, 7, 'in stock'],
 'bindings': [140, 0, 'sold out']}

In [ ]:
del item_details['boots']
item_details

{'skis': [250, 10, 'in stock'],
 'snowboard': [220, 0, 'sold out'],
 'goggles': [100, 0, 'sold out'],
 'bindings': [140, 0, 'sold out']}

In [ ]:
# ASSIGNMENT
snacks = {
    'Sally':'Popcorn',
    'Ricard':'Chocolate',
    'Stuart':' Apple Pie',
    'Jerry' :'Raisins',
    'Sierra':'Peanut Butter Cookies'
}

# what Stuart's snack is?
snacks['Stuart']

' Apple Pie'

In [ ]:
snacks['Alfie'] = ['Cheese and Crackers']
snacks

{'Sally': 'Popcorn',
 'Ricard': 'Chocolate',
 'Stuart': ' Apple Pie',
 'Jerry': 'Raisins',
 'Sierra': 'Peanut Butter Cookies',
 'Alfie': ['Cheese and Crackers']}

In [ ]:

snacks['Jerry'] = ['Fig Bars']
snacks

{'Sally': 'Popcorn',
 'Ricard': 'Chocolate',
 'Stuart': ' Apple Pie',
 'Jerry': ['Fig Bars'],
 'Sierra': 'Peanut Butter Cookies',
 'Alfie': ['Cheese and Crackers']}

In [ ]:
items = ['skis','snowboard','goggles','boots']
inventory =[ 10,0,0,7]
inventory_status = {}

for i, item in enumerate(items):
  if inventory[i] ==0:
    inventory_status[item] = 'sold out'
  else:
    inventory_status[item] = 'in stock'

inventory_status

{'skis': 'in stock',
 'snowboard': 'sold out',
 'goggles': 'sold out',
 'boots': 'in stock'}

In [ ]:
# MAVEN
snacks = {'Sally':'Popcorn',
          'Richard':'Ice cream',
          'Stuart':'Apple Pie',
          'Jerry':'Raisins',
          'Sierra':'Peanut Butter Cookies'}
snacks['Stuart']

'Apple Pie'

In [ ]:
snacks['Alfie'] = ['Cheese and Crackers']
snacks

{'Sally': 'Popcorn',
 'Richard': 'Ice cream',
 'Stuart': 'Apple Pie',
 'Jerry': 'Raisins',
 'Sierra': 'Peanut Butter Cookies',
 'Alfie': ['Cheese and Crackers']}

In [ ]:
snacks['Jarry'] = ['Fig Bars']
snacks

{'Sally': 'Popcorn',
 'Richard': 'Ice cream',
 'Stuart': 'Apple Pie',
 'Jerry': 'Raisins',
 'Sierra': 'Peanut Butter Cookies',
 'Alfie': ['Cheese and Crackers'],
 'Jarry': ['Fig Bars']}

In [ ]:
snacks

{'Sally': 'Popcorn',
 'Richard': 'Ice cream',
 'Stuart': 'Apple Pie',
 'Jerry': 'Raisins',
 'Alfie': ['Cheese and Crackers'],
 'Jarry': ['Fig Bars']}

In [ ]:
# DICTIONARY CREATION
items = ['skins','snowboard','googles','boots']
inventory = [10,0,0,7]
inventory_status = {}

for i, item in enumerate(items):
  if inventory[i] == 0:
    inventory_status[item] = 'Sold out'
  else:
    inventory_status[item] = 'in stock'
inventory_status

{'skins': 'in stock',
 'snowboard': 'Sold out',
 'googles': 'Sold out',
 'boots': 'in stock'}

In [ ]:
# DICTIONARY METHODS
# KEYS - Returns the keys from a dictionary

item_details = {'Skis':[250, 10, 'in stock'],
                'Snowboard':[219, 0, 'Sold out'],
                'Googles':[99.99, 0, 'Sold out'],
                'Boots':[79.99,7,'in stock']}
item_details.keys()

dict_keys(['Skis', 'Snowboard', 'Googles', 'Boots'])

In [ ]:
for item in item_details.keys():
  print(item)

Skis
Snowboard
Googles
Boots

In [ ]:
key_list = list(item_details.keys())
print(key_list)

['Skins', 'Snowboard', 'Googles', 'Boots']

In [ ]:
# VALUES - returns the values from a dictionary
item_details.values()

dict_values([[250, 10, 'in stock'], [219, 0, 'Sold out'], [99.99, 0, 'Sold out'], [79.99, 7, 'in stock']])

In [ ]:
price_list = []

for attribute in item_details.values():
  price_list.append(attribute[0])
price_list

[250, 219, 99.99, 79.99]

In [ ]:
# ITEMS - Returns key-value pairs from a dictionary as a list of tuples
item_details.items()

dict_items([('Skins', [250, 10, 'in stock']), ('Snowboard', [219, 0, 'Sold out']), ('Googles', [99.99, 0, 'Sold out']), ('Boots', [79.99, 7, 'in stock'])])

In [ ]:
# you can unpack the tuple to retrieve individual keys and values
for k, v in item_details.items():
   print(f'{k} costs {v[0]} dollars')

Skis costs 250 dollars
Snowboard costs 219 dollars
Googles costs 99.99 dollars
Boots costs 79.99 dollars
binding costs 140 dollars
scarf costs 20 dollars
snowpants costs N dollars

In [ ]:
for item, item_attributes in item_details.items():
  print(f'The {item} costs {item_attributes[0]}')

The Skins costs 250
The Snowboard costs 219
The Googles costs 99.99
The Boots costs 79.99

In [ ]:
# GET - Returns the values associated with a dictionary key
# - It won't return a keyError if the key isn't found
# - You can specify an optional value to return if the key is not found
item_details.get('boots')

In [ ]:
item_details.get("bindings","Sorry we don't carry that item.")

"Sorry we don't carry that item."

In [ ]:
# - UPDATE - Appends key-value pairs to a dictionary

item_details.update({'bindings':[140,0,'out of stock']})
item_details

{'Skis': [250, 10, 'in stock'],
 'Snowboard': [219, 0, 'Sold out'],
 'Googles': [99.99, 0, 'Sold out'],
 'Boots': [79.99, 7, 'in stock'],
 'binding': [140, 0, 'out of stock']}

In [ ]:
# Combining dictionaries
# - As a reminder, dictionaries values do not need to be the same type
# - Note that the value for snowpants is N/A, while the values for the rest of the keys are lists
# -  This is the preferred way to combine dictionaries
new_items = {'scarf':[20,100,'in stock'],
             'snowpants':'N/A'}

item_details.update(new_items)
item_details

{'Skis': [250, 10, 'in stock'],
 'Snowboard': [219, 0, 'Sold out'],
 'Googles': [99.99, 0, 'Sold out'],
 'Boots': [79.99, 7, 'in stock'],
 'binding': [140, 0, 'out of stock'],
 'scarf': [20, 100, 'in stock'],
 'snowpants': 'N/A'}

In [ ]:
# Aula Maven
item_prices = {'skis':274.99,
               'snowboard':219.99,
               'googles':99.99,
               'boots':[79.99,89.99]}
item_prices['hat'] = 14.99
item_prices

{'skis': 274.99,
 'snowboard': 219.99,
 'googles': 99.99,
 'boots': [79.99, 89.99],
 'hat': 14.99}

In [ ]:
item_prices.update({'Bindings':[139.99, 0 ,'Out of stock']})
item_prices

{'skis': 274.99,
 'snowboard': 219.99,
 'googles': 99.99,
 'boots': [79.99, 89.99],
 'hat': 14.99,
 'Bindigns': [139.99, 0, 'Out of stock'],
 'Bindings': [139.99, 0, 'Out of stock']}

In [ ]:
new_items = ['Coffee','Helmet']
new_prices = [5.99, 99.99]

for i, item in enumerate(new_items):
  item_prices[item] = new_prices[i]

item_prices

{'skis': 274.99,
 'snowboard': 219.99,
 'googles': 99.99,
 'boots': [79.99, 89.99],
 'hat': 14.99,
 'Bindigns': [139.99, 0, 'Out of stock'],
 'Bindings': [139.99, 0, 'Out of stock'],
 'Coffee': 5.99,
 'Helmet': 99.99}

In [ ]:
# DICTIONARY METHODS
# ITEMS - Returns key-value pairs from a dictionary as a list of tuples
item_details = {'skis':[249.99,10],
                'snowboard':[219.99,0],
                'Goggles':[99,0],
                'boots':[79.99,0]}
item_details.items()

dict_items([('skis', [249.99, 10]), ('snowboard', [219.99, 0]), ('Goggles', [99, 0]), ('boots', [79.99, 0])])

In [ ]:
for key, value in item_details.items():
  print(f'The {key} costs {value[0]}')

The skis costs 249.99
The snowboard costs 219.99
The Goggles costs 99
The boots costs 79.99

In [ ]:
item_details['bindings'] = [129.36,0,'Sold out']
item_details

{'skis': [249.99, 10],
 'snowboard': [219.99, 0],
 'Goggles': [99, 0],
 'boots': [79.99, 0],
 'bindings': [129.36, 0, 'Sold out']}

In [ ]:
item_details.get('bindings')

[129.36, 0, 'Sold out']

In [ ]:
del item_details['bindings']
item_details

{'skis': [249.99, 10],
 'snowboard': [219.99, 0],
 'Goggles': [99, 0],
 'boots': [79.99, 0]}

In [ ]:
item_details.update({'bindings':[238.69,0,'sold out']})
item_details

{'skis': [249.99, 10],
 'snowboard': [219.99, 0],
 'Goggles': [99, 0],
 'boots': [79.99, 0],
 'bindings': [238.69, 0, 'sold out']}

In [ ]:
alunos = {'Erbert':[10,7,'Aprovado'],
          'Everton':[10,10, 'Aprovado'],
          'Matheus':[10,6,'Aprovado'],
          'Thomazin':[10,8,'Aprovado']}

new_alunos = {'Messi':[10,10,'Aprovado'],
              'Cristiano Ronaldo':[10,10,'Aprovado'],
              'Cosme':[0,0,'Reprovado']}

alunos.update(new_alunos)
alunos

{'Erbert': [10, 7, 'Aprovado'],
 'Everton': [10, 10, 'Aprovado'],
 'Matheus': [10, 6, 'Aprovado'],
 'Thomazin': [10, 8, 'Aprovado'],
 'Messi': [10, 10, 'Aprovado'],
 'Cristiano Ronaldo': [10, 10, 'Aprovado'],
 'Cosme': [0, 0, 'Reprovado']}

In [ ]:
# MAVEN- METHODS
list_compras = {'caderno':10,
                'caneta':2}
new_items = ['coffee','milk']
new_prices = [5.99, 10.70]

for i, item in enumerate(new_items):
  list_compras[item] = new_prices[i]
list_compras

{'caderno': 10, 'caneta': 2, 'coffee': 5.99, 'milk': 10.7}

In [ ]:
item_details = {'botina':[249.99,10],
                'sapato':[219.99,0],
                'óculos':[99.99,0],
                'meias':[40,0]}
for key, value in enumerate(item_details):
  print(f'The {key} costs {value[0]} dollars')

The 0 costs b dollars
The 1 costs s dollars
The 2 costs ó dollars
The 3 costs m dollars

In [ ]:
item_details.get('meias')

[40, 0]

In [ ]:
item_details.update({'camisa':[10,0,'out of stock']})
item_details

{'botina': [249.99, 10],
 'sapato': [219.99, 0],
 'óculos': [99.99, 0],
 'meias': [40, 0],
 'camisa': [10, 0, 'out of stock']}

In [ ]:
tenis = {'nike':[250, 25,'in stock'],
         'addidas': [360,0,'out of stock']}
tenis

{'nike': [250, 25, 'in stock'], 'addidas': [360, 0, 'out of stock']}

In [ ]:
item_details.update(tenis)
item_details

{'botina': [249.99, 10],
 'sapato': [219.99, 0],
 'óculos': [99.99, 0],
 'meias': [40, 0],
 'camisa': [10, 0, 'out of stock'],
 'nike': [250, 25, 'in stock'],
 'addidas': [360, 0, 'out of stock']}

In [ ]:
# MAVEN - DICT DEMO
customer_sales = {
    'C1':[244, 57],
    'C4':[125.50],
    'C14':[90,70,50],
    'C15':[25,50,75,100]
}

customer_ids = list(customer_sales.keys())
customer_ids

['C1', 'C4', 'C14', 'C15']

In [ ]:
customer_sales = {
    'C1':[244, 57],
    'C4':[125.50],
    'C14':[90,70,50],
    'C15':[25,50,75,100]
}
customer_sales.values()
customer_values = list(customer_sales.values())
customer_values

[[244, 57], [125.5], [90, 70, 50], [25, 50, 75, 100]]

In [ ]:
for sales in customer_sales.values():
  print(sum(sales))

301
125.5
210
250

In [ ]:
total_sales = {}

for customer_id, sales in customer_sales.items():
  total_sales[customer_id] = sum(sales)
total_sales

{'C1': 301, 'C4': 125.5, 'C14': 210, 'C15': 250}

In [ ]:
vip_customers = ["C1","C3","C14"]

for customer in vip_customers:
  print(customer_sales.get(customer))

[244, 57]
None
[90, 70, 50]

In [ ]:
new_customers = {'C5':[105],'C22':[30]}
customer_sales.update(new_customers)
customer_sales

{'C1': [244, 57],
 'C4': [125.5],
 'C14': [90, 70, 50],
 'C15': [25, 50, 75, 100],
 'C5': [105],
 'C22': [30]}

In [ ]:
# the .items() method returns key-value pairs from a dictionary as a list of tuples

item_compras = {
    'skis':[250,10],
    'snowboard':[220,0],
    'goggles':[100,0],
    'boots':[80,7]
}

item_compras.items()

dict_items([('skis', [250, 10]), ('snowboard', [220, 0]), ('goggles', [100, 0]), ('boots', [80, 7])])

In [ ]:
for k, v in item_compras.items():
  print(f'the {k} costs {v[0]} reais')

the skis costs 250 reais
the snowboard costs 220 reais
the goggles costs 100 reais
the boots costs 80 reais

In [1]:
# REVISÃO - MAVEN
# The .keys() method returns the keys from a dictionary
list_trekking =  {'Garrafinha':[250,10,'in stock'],
                  'camiseta':[250,0,'sold out'],
                  'botas':[100,0,'sold out'],
                  'mochila':[80,7,'in stock']}
list_trekking.keys()

dict_keys(['Garrafinha', 'camiseta', 'botas', 'mochila'])

In [2]:
# The .values() method returns teh values from a dictionary
list_trekking.values()

dict_values([[250, 10, 'in stock'], [250, 0, 'sold out'], [100, 0, 'sold out'], [80, 7, 'in stock']])

In [4]:
# PASSANDO SOMENTE OS VALORES DE PREÇO PARA DENTRO DE price_list
price_list = []
for price in list_trekking.values():
  price_list.append(price[0])
price_list

[250, 250, 100, 80]

In [5]:
# ITEMS
# The .items() method returns key-value pairs from a dictionary as a list of tuples

list_trekking.items()

dict_items([('Garrafinha', [250, 10, 'in stock']), ('camiseta', [250, 0, 'sold out']), ('botas', [100, 0, 'sold out']), ('mochila', [80, 7, 'in stock'])])

In [6]:
# olha que doido:
for k, v in list_trekking.items():
  print(f'{k} custa R$ {v[0]}')

Garrafinha custa R$ 250
camiseta custa R$ 250
botas custa R$ 100
mochila custa R$ 80

In [7]:
# Atribuindo novas chaves
list_trekking['meias'] = [50,20,'in stock']
list_trekking

{'Garrafinha': [250, 10, 'in stock'],
 'camiseta': [250, 0, 'sold out'],
 'botas': [100, 0, 'sold out'],
 'mochila': [80, 7, 'in stock'],
 'meias': [50, 20, 'in stock']}

In [9]:
# The update() method appends key-value pairs to a dictionary
new_trekking = {'óculos':[150,10,'in stock']}

list_trekking.update(new_trekking) # this is the preffered way to combine dictionaries
list_trekking

{'Garrafinha': [250, 10, 'in stock'],
 'camiseta': [250, 0, 'sold out'],
 'botas': [100, 0, 'sold out'],
 'mochila': [80, 7, 'in stock'],
 'meias': [50, 20, 'in stock'],
 'óculos': [150, 10, 'in stock']}

In [8]:
# GET() method returns the values associated with a dictionary key
list_trekking.get('meias')

[50, 20, 'in stock']

In [ ]:
# DICIONÁRIOS - GUSTAVO GUANABARA
# EXEMPLO PRÓPRIO
# Quando for trabalhar com f formatado, voce tem que colocar dentro de aspas duplas
pessoas ={'nome': 'Erbert',
          'sexo':'M',
          'idade': 30
}

pessoas['nome']

'Erbert'

In [ ]:
pessoas ={'nome': 'Erbert',
          'sexo':'M',
          'idade': 30
}
pessoas['nome'] = 'Gustavo'
pessoas['peso'] = 89
for k in pessoas.values():
 print(k)

Gustavo
M
30
89

O Erbert tem 30 anos

In [ ]:
# aqui você não precisa do enumerate
for k, v in pessoas.items():
  print(f'{k} = {v}')

nome = Erbert
sexo = M
idade = 30

In [ ]:

# Lista com dicionários
brasil = []
estado1 = {'uf':'Rio de Janeiro','sigla':'RJ'}
estado2 = {'uf':'São Paulo','sigla':'SP'}
brasil.append(estado1)
brasil.append(estado2)

print(brasil[0]['uf'])

Rio de Janeiro

In [ ]:
# Para passar dicionários para dentro de listas, temos que usar o método COPY()
estado = dict()
brasil = list()

for c in range(0,3):
  estado['UF'] = str(input('Unidade Federativa: '))
  estado['Sigla'] = str(input('Sigla: '))
  brasil.append(estado.copy())

for e in brasil: # cada e é um dicionário (estado + sigla)
  for v in e.values():
    print(f'{v}', end=" ") # Trazendo somente as chaves

Unidade Federativa: São Paulo
Sigla: SP
Unidade Federativa: Minas Gerais
Sigla: MG
Unidade Federativa: Rio de Janeiro
Sigla: RJ
São Paulo SP Minas Gerais MG Rio de Janeiro RJ

In [ ]:
estado = dict()
brasil = list()

for c in range(0,3):
  estado['UF'] = str(input('Unidade Federativa: '))
  estado['Sigla'] = str(input('Sigla: '))
  brasil.append(estado.copy())

for e in brasil: # cada e é um dicionário dentro da lista Brasil (estado + sigla)
  for k, v in estado2.items():
    print(f'{k} tem valor {v}')

Unidade Federativa: Minas Gerais
Sigla: MG
Unidade Federativa: Rio de Janeiro
Sigla: RJ
Unidade Federativa: Rio Grande do Sul
Sigla: RS
uf tem valor São Paulo
sigla tem valor SP
uf tem valor São Paulo
sigla tem valor SP
uf tem valor São Paulo
sigla tem valor SP

REVISÃO - GUSTAVO GUANABARA

In [ ]:
pessoas ={'nome':'Erbert',
          'sexo':'M',
          'idade':30,
          }
for k, v in pessoas.items():
  print(f'O {k} é {v}')

O nome é Erbert
O sexo é M
O idade é 30

In [15]:
# COPIANDO DICIONÁRIO PARA DENTRO DA LISTA
estado = dict()
brasil = list()

for c in range(0,3):
  estado['uf'] = str(input('Informe o Estado: '))
  estado['sigla'] = str(input('Informe a sigla: '))
  brasil.append(estado.copy())

for e in brasil:
  for k, v in e.items():
    print(f'{k} tem sigla {v}')

Informe o Estado: Minas Gerais
Informe a sigla: MG
Informe o Estado: São Paulo
Informe a sigla: SP
Informe o Estado: Rio de Janeiro
Informe a sigla: RJ
uf tem sigla Minas Gerais
sigla tem sigla MG
uf tem sigla São Paulo
sigla tem sigla SP
uf tem sigla Rio de Janeiro
sigla tem sigla RJ